*{ margin:0;
padding: 0;
box-sizing: border-box;}

body {background: rgba(255, 255, 255, 0.76);
min-height: 100vh;}


.nav li a:hover {
  background-color: #9b9b9b;
  color: rgb(0, 0, 0);
}





 h1 {

  
            text-align: center;
         background: linear-gradient(180deg, #00bd48 35%, #5f94ca 100%);
           -webkit-background-clip: text;
           color:transparent;
            margin-bottom: 0px;
             
            padding-bottom: 5px;
            
           
        }


.nav a{   
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0, auto;
 
    
}

.nav {
font-size: 45px;
 background: linear-gradient(90deg, #3498db 0%, #2c3e50 100%);
margin: 30px;
padding:0;
display: flex;
justify-content: center;
border-radius: 15px;
 border-bottom: 2px solid #000000b6;
 border-top: 2px solid #000000b6;
}


.nav li a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            padding: 2px 20px;
            display: inline-block;
            transition: all 0.5s ease; /* Smooth transition for hover effects */
        }

        
.nav ul {
      list-style-type: none; 
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5px clamp(10px, 5%, 100px); /* Responsive min/ideal/max values */

}

/* This part makes the Navigation more animative, Border radius makes the edges nice and smooth, box shadow does a shadow around the white box and gives it some depth */
.nav li a:hover:not(.active) {
    border-radius: 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 50px;
    box-shadow: 8px 8px 8px 8px #00000021;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;}